<mat-card class="p-0">  
    <div class="bg-primary text-center py-2">       
        <h2>Your profile</h2> 
    </div> 
    
    <div class="container" fxLayout="row wrap" class="user-form p-2">

        <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput value= "{{data.profile.name}}"   type="text">
                         
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline">
                <mat-label>Prenom</mat-label>
                <input matInput autocomplete="off" value="{{data.profile.surname}}"   type="text">
                      
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline">
                <mat-label> email</mat-label>
                <input matInput autocomplete="off" value="{{data.contacts.email}}"  type="text"> 
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline">
                <mat-label>Tel</mat-label>
                <input matInput  value="{{data.contacts.phone}}" type="text"> 
                   
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline">
                <mat-label>Adresse</mat-label>
                <input matInput value="{{data.contacts.address}}" type="text"> 
                              
            </mat-form-field> 
        </div>

        <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline">
                <mat-label>Solde congé</mat-label> 
                <input matInput value="{{data.work.soldeConge}}"  type="text"> 
                
            </mat-form-field>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline">
                <mat-label>Date de naissance</mat-label> 
                <input matInput value="{{data.profile.birthday | date: 'dd/MM/yyyy'}}" type="text"> 
                
            </mat-form-field>
        </div>

    </div> 
   
</mat-card>
 